body{
    background-color: black;
    /* border: 5px solid white; */
}

.line{
    width: 50%;
    margin: auto;
    height: 1px;
    background-color: white;
    margin-top: 5rem;
    filter: drop-shadow(0 0 10px red);

}

.imageContainer{
    margin: 1rem;
}